*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[15px\] {
  bottom: 15px;
}

.left-\[15px\] {
  left: 15px;
}

.right-\[-20px\] {
  right: -20px;
}

.right-\[350px\] {
  right: 350px;
}

.top-\[30px\] {
  top: 30px;
}

.z-\[9999\] {
  z-index: 9999;
}

.m-\[20px\] {
  margin: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-20 {
  margin-right: 5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-\[20px\] {
  margin-right: 20px;
}

.mr-\[25px\] {
  margin-right: 25px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[18px\] {
  margin-top: 18px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.box-border {
  box-sizing: border-box;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[125px\] {
  height: 125px;
}

.h-\[128px\] {
  height: 128px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[157px\] {
  height: 157px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[286px\] {
  height: 286px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[33px\] {
  height: 33px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[364px\] {
  height: 364px;
}

.h-\[371\] {
  height: 371;
}

.h-\[380px\] {
  height: 380px;
}

.h-\[395px\] {
  height: 395px;
}

.h-\[400\] {
  height: 400;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[402px\] {
  height: 402px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[416px\] {
  height: 416px;
}

.h-\[425px\] {
  height: 425px;
}

.h-\[428px\] {
  height: 428px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[434px\] {
  height: 434px;
}

.h-\[449\] {
  height: 449;
}

.h-\[47px\] {
  height: 47px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[520px\] {
  height: 520px;
}

.h-\[601px\] {
  height: 601px;
}

.h-\[604px\] {
  height: 604px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[618px\] {
  height: 618px;
}

.h-\[8px\] {
  height: 8px;
}

.h-\[95px\] {
  height: 95px;
}

.h-\[97px\] {
  height: 97px;
}

.h-\[inherit\] {
  height: inherit;
}

.min-h-\[450px\] {
  min-height: 450px;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[106px\] {
  width: 106px;
}

.w-\[134px\] {
  width: 134px;
}

.w-\[136px\] {
  width: 136px;
}

.w-\[1600px\] {
  width: 1600px;
}

.w-\[175px\] {
  width: 175px;
}

.w-\[185px\] {
  width: 185px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[317px\] {
  width: 317px;
}

.w-\[318px\] {
  width: 318px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[63\%\] {
  width: 63%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[97\%\] {
  width: 97%;
}

.w-\[99\%\] {
  width: 99%;
}

.w-\[full\] {
  width: full;
}

.w-\[inherit\] {
  width: inherit;
}

.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-start {
  align-content: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-x-0 {
  -moz-column-gap: 0px;
       column-gap: 0px;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-y-0 {
  row-gap: 0px;
}

.gap-y-20 {
  row-gap: 5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#2b2b2b\]\/\[0\.3\] {
  border-color: rgb(43 43 43 / 0.3);
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.bg-\[\#009DA2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 157 162 / var(--tw-bg-opacity));
}

.bg-\[\#105153\] {
  --tw-bg-opacity: 1;
  background-color: rgb(16 81 83 / var(--tw-bg-opacity));
}

.bg-\[\#252525\] {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 37 / var(--tw-bg-opacity));
}

.bg-\[\#292929\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 41 41 / var(--tw-bg-opacity));
}

.bg-\[\#302f2f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(48 47 47 / var(--tw-bg-opacity));
}

.bg-\[\#4A4A4A\]\/\[0\.3\] {
  background-color: rgb(74 74 74 / 0.3);
}

.bg-\[\#CDE4B0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(205 228 176 / var(--tw-bg-opacity));
}

.bg-\[\#DADADA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(218 218 218 / var(--tw-bg-opacity));
}

.bg-\[\#E9E9E9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 233 233 / var(--tw-bg-opacity));
}

.bg-\[\#ED1C24\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 28 36 / var(--tw-bg-opacity));
}

.bg-\[\#EEEFEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(238 239 239 / var(--tw-bg-opacity));
}

.bg-\[\#F2F2F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.bg-\[\#F7F9FB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 249 251 / var(--tw-bg-opacity));
}

.bg-\[\#FF0000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\]\/\[0\.2\] {
  background-color: rgb(255 255 255 / 0.2);
}

.bg-\[\#FFFFFF\]\/\[0\.6\] {
  background-color: rgb(255 255 255 / 0.6);
}

.bg-\[\#FFFFFF\]\/\[0\.8\] {
  background-color: rgb(255 255 255 / 0.8);
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[rgb\(0\2c 0\2c 0\)\]\/\[0\.4\] {
  background-color: rgb(0 0 0 / 0.4);
}

.bg-black\/\[0\.2\] {
  background-color: rgb(0 0 0 / 0.2);
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon1-1-1\.png\'\)\] {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon1-1-1.png');
}

.bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon2-1-1\.png\'\)\] {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon2-1-1.png');
}

.bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon3-1\.png\'\)\] {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon3-1.png');
}

.bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon4-1\.png\'\)\] {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon4-1.png');
}

.bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon5-1\.png\'\)\] {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon5-1.png');
}

.bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon6-1-2\.png\'\)\] {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon6-1-2.png');
}

.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.p-2 {
  padding: 0.5rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[6px\] {
  padding: 6px;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-\[22px\] {
  padding-left: 22px;
  padding-right: 22px;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[45px\] {
  padding-bottom: 45px;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[150px\] {
  padding-top: 150px;
}

.pt-\[16px\] {
  padding-top: 16px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font-\[\'iransans\'\] {
  font-family: 'iransans';
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[29px\] {
  font-size: 29px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[32px\] {
  font-size: 32px;
}

.font-bold {
  font-weight: 700;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[120px\] {
  line-height: 120px;
}

.leading-\[33px\] {
  line-height: 33px;
}

.leading-\[40px\] {
  line-height: 40px;
}

.leading-\[42px\] {
  line-height: 42px;
}

.leading-\[45px\] {
  line-height: 45px;
}

.leading-\[50px\] {
  line-height: 50px;
}

.leading-\[60px\] {
  line-height: 60px;
}

.text-\[\#002021\] {
  --tw-text-opacity: 1;
  color: rgb(0 32 33 / var(--tw-text-opacity));
}

.text-\[\#009DA2\] {
  --tw-text-opacity: 1;
  color: rgb(0 157 162 / var(--tw-text-opacity));
}

.text-\[\#00d8df\] {
  --tw-text-opacity: 1;
  color: rgb(0 216 223 / var(--tw-text-opacity));
}

.text-\[\#58595B\] {
  --tw-text-opacity: 1;
  color: rgb(88 89 91 / var(--tw-text-opacity));
}

.text-\[\#58595B\]\/\[0\.8\] {
  color: rgb(88 89 91 / 0.8);
}

.text-\[\#636467\] {
  --tw-text-opacity: 1;
  color: rgb(99 100 103 / var(--tw-text-opacity));
}

.text-\[\#7A7A7A\] {
  --tw-text-opacity: 1;
  color: rgb(122 122 122 / var(--tw-text-opacity));
}

.text-\[\#7C7D7E\] {
  --tw-text-opacity: 1;
  color: rgb(124 125 126 / var(--tw-text-opacity));
}

.text-\[\#7b7b7b\] {
  --tw-text-opacity: 1;
  color: rgb(123 123 123 / var(--tw-text-opacity));
}

.text-\[\#7c7D7E\] {
  --tw-text-opacity: 1;
  color: rgb(124 125 126 / var(--tw-text-opacity));
}

.text-\[\#94979a\] {
  --tw-text-opacity: 1;
  color: rgb(148 151 154 / var(--tw-text-opacity));
}

.text-\[\#AFB2B4\] {
  --tw-text-opacity: 1;
  color: rgb(175 178 180 / var(--tw-text-opacity));
}

.text-\[\#BCBEC0\] {
  --tw-text-opacity: 1;
  color: rgb(188 190 192 / var(--tw-text-opacity));
}

.text-\[\#D5ECE1\] {
  --tw-text-opacity: 1;
  color: rgb(213 236 225 / var(--tw-text-opacity));
}

.text-\[\#FF0000\] {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity));
}

.text-\[\#FFE09D\] {
  --tw-text-opacity: 1;
  color: rgb(255 224 157 / var(--tw-text-opacity));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#FFFFFF\]\/\[0\.8\] {
  color: rgb(255 255 255 / 0.8);
}

.text-\[\#dc1b22\] {
  --tw-text-opacity: 1;
  color: rgb(220 27 34 / var(--tw-text-opacity));
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-700 {
  transition-duration: 700ms;
}

@font-face{
  font-family: "iransans";

  src: url(../fonts/IRANSansLight.woff);
}

.hover\:bg-\[\#55AE3C\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(85 174 60 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#B29E6B\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(178 158 107 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#FF0000\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#FFFFFF\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.hover\:bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon1-1\.png\'\)\]:hover {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon1-1.png');
}

.hover\:bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon2-1\.png\'\)\]:hover {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon2-1.png');
}

.hover\:bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon3-1-1\.png\'\)\]:hover {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon3-1-1.png');
}

.hover\:bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon4-1-1\.png\'\)\]:hover {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon4-1-1.png');
}

.hover\:bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon5-1-1\.png\'\)\]:hover {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon5-1-1.png');
}

.hover\:bg-\[url\(\'https\:\/\/www\.golestan\.com\/wp-content\/uploads\/2023\/01\/icon6-1-3\.png\'\)\]:hover {
  background-image: url('https://www.golestan.com/wp-content/uploads/2023/01/icon6-1-3.png');
}

.hover\:text-\[\#FFFFFF\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:opacity-\[0\.7\]:hover {
  opacity: 0.7;
}

.group\/contactus:hover .group-hover\/contactus\:block {
  display: block;
}

.group\/golestan:hover .group-hover\/golestan\:block {
  display: block;
}

.group\/mahsolat:hover .group-hover\/mahsolat\:block {
  display: block;
}

.group\/weblog:hover .group-hover\/weblog\:block {
  display: block;
}

.dark\:hidden:is(.dark *) {
  display: none;
}

.dark\:bg-\[\#2b2b2b\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(43 43 43 / var(--tw-bg-opacity));
}

.dark\:bg-\[\#494848\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(73 72 72 / var(--tw-bg-opacity));
}

.dark\:bg-\[\#FFFFFF\]\/\[0\.5\]:is(.dark *) {
  background-color: rgb(255 255 255 / 0.5);
}

.dark\:bg-slate-200:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.dark\:text-\[\#2b2b2b\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(43 43 43 / var(--tw-text-opacity));
}

.dark\:text-\[\#FFFFFF\]\/\[0\.5\]:is(.dark *) {
  color: rgb(255 255 255 / 0.5);
}

@media (min-width: 340px) {
  .mobile\:fixed {
    position: fixed;
  }

  .mobile\:relative {
    position: relative;
  }

  .mobile\:right-0 {
    right: 0px;
  }

  .mobile\:top-0 {
    top: 0px;
  }

  .mobile\:z-\[100000\] {
    z-index: 100000;
  }

  .mobile\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile\:mt-\[10px\] {
    margin-top: 10px;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:hidden {
    display: none;
  }

  .mobile\:h-\[165px\] {
    height: 165px;
  }

  .mobile\:h-\[180px\] {
    height: 180px;
  }

  .mobile\:h-\[182px\] {
    height: 182px;
  }

  .mobile\:h-\[200px\] {
    height: 200px;
  }

  .mobile\:h-\[600px\] {
    height: 600px;
  }

  .mobile\:h-auto {
    height: auto;
  }

  .mobile\:w-\[100\%\] {
    width: 100%;
  }

  .mobile\:w-\[154px\] {
    width: 154px;
  }

  .mobile\:w-\[214px\] {
    width: 214px;
  }

  .mobile\:w-\[250px\] {
    width: 250px;
  }

  .mobile\:w-\[390px\] {
    width: 390px;
  }

  .mobile\:w-\[450px\] {
    width: 450px;
  }

  .mobile\:w-\[480px\] {
    width: 480px;
  }

  .mobile\:w-\[500px\] {
    width: 500px;
  }

  .mobile\:w-\[99\%\] {
    width: 99%;
  }

  .mobile\:w-\[full\] {
    width: full;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:flex-col {
    flex-direction: column;
  }

  .mobile\:flex-wrap {
    flex-wrap: wrap;
  }

  .mobile\:items-center {
    align-items: center;
  }

  .mobile\:justify-center {
    justify-content: center;
  }

  .mobile\:gap-0 {
    gap: 0px;
  }

  .mobile\:gap-1 {
    gap: 0.25rem;
  }

  .mobile\:gap-2 {
    gap: 0.5rem;
  }

  .mobile\:border-none {
    border-style: none;
  }

  .mobile\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .mobile\:p-\[20px\] {
    padding: 20px;
  }

  .mobile\:pr-16 {
    padding-right: 4rem;
  }

  .mobile\:pr-\[10px\] {
    padding-right: 10px;
  }

  .mobile\:pr-\[30px\] {
    padding-right: 30px;
  }

  .mobile\:pt-\[100px\] {
    padding-top: 100px;
  }

  .mobile\:pt-\[140px\] {
    padding-top: 140px;
  }

  .mobile\:pt-\[150px\] {
    padding-top: 150px;
  }

  .mobile\:pt-\[180px\] {
    padding-top: 180px;
  }

  .mobile\:pt-\[20px\] {
    padding-top: 20px;
  }

  .mobile\:pt-\[225px\] {
    padding-top: 225px;
  }

  .mobile\:pt-\[40px\] {
    padding-top: 40px;
  }

  .mobile\:text-center {
    text-align: center;
  }

  .mobile\:text-\[12px\] {
    font-size: 12px;
  }

  .mobile\:text-\[13px\] {
    font-size: 13px;
  }

  .mobile\:text-\[14px\] {
    font-size: 14px;
  }

  .mobile\:leading-5 {
    line-height: 1.25rem;
  }

  .mobile\:text-\[\#9F9F9F\] {
    --tw-text-opacity: 1;
    color: rgb(159 159 159 / var(--tw-text-opacity));
  }
}

@media (min-width: 1000px) {
  .desktop\:fixed {
    position: fixed;
  }

  .desktop\:absolute {
    position: absolute;
  }

  .desktop\:right-\[15px\] {
    right: 15px;
  }

  .desktop\:right-\[90px\] {
    right: 90px;
  }

  .desktop\:top-\[15px\] {
    top: 15px;
  }

  .desktop\:top-\[24px\] {
    top: 24px;
  }

  .desktop\:top-\[50px\] {
    top: 50px;
  }

  .desktop\:my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .desktop\:mt-\[130px\] {
    margin-top: 130px;
  }

  .desktop\:mt-\[17px\] {
    margin-top: 17px;
  }

  .desktop\:flex {
    display: flex;
  }

  .desktop\:hidden {
    display: none;
  }

  .desktop\:h-\[100px\] {
    height: 100px;
  }

  .desktop\:h-\[210px\] {
    height: 210px;
  }

  .desktop\:h-\[330px\] {
    height: 330px;
  }

  .desktop\:h-\[350px\] {
    height: 350px;
  }

  .desktop\:h-\[364px\] {
    height: 364px;
  }

  .desktop\:h-\[376px\] {
    height: 376px;
  }

  .desktop\:h-\[400px\] {
    height: 400px;
  }

  .desktop\:h-\[530px\] {
    height: 530px;
  }

  .desktop\:h-\[580px\] {
    height: 580px;
  }

  .desktop\:h-\[700px\] {
    height: 700px;
  }

  .desktop\:h-\[70px\] {
    height: 70px;
  }

  .desktop\:h-\[772px\] {
    height: 772px;
  }

  .desktop\:h-\[inherit\] {
    height: inherit;
  }

  .desktop\:min-h-\[440px\] {
    min-height: 440px;
  }

  .desktop\:w-5\/6 {
    width: 83.333333%;
  }

  .desktop\:w-\[150px\] {
    width: 150px;
  }

  .desktop\:w-\[290px\] {
    width: 290px;
  }

  .desktop\:w-\[350px\] {
    width: 350px;
  }

  .desktop\:w-\[450px\] {
    width: 450px;
  }

  .desktop\:w-\[468px\] {
    width: 468px;
  }

  .desktop\:w-\[700px\] {
    width: 700px;
  }

  .desktop\:w-\[71\%\] {
    width: 71%;
  }

  .desktop\:w-\[710px\] {
    width: 710px;
  }

  .desktop\:w-\[83\%\] {
    width: 83%;
  }

  .desktop\:w-\[83\.4\%\] {
    width: 83.4%;
  }

  .desktop\:flex-row {
    flex-direction: row;
  }

  .desktop\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .desktop\:flex-wrap {
    flex-wrap: wrap;
  }

  .desktop\:items-start {
    align-items: flex-start;
  }

  .desktop\:items-center {
    align-items: center;
  }

  .desktop\:justify-center {
    justify-content: center;
  }

  .desktop\:gap-3 {
    gap: 0.75rem;
  }

  .desktop\:gap-4 {
    gap: 1rem;
  }

  .desktop\:gap-5 {
    gap: 1.25rem;
  }

  .desktop\:gap-6 {
    gap: 1.5rem;
  }

  .desktop\:p-\[10px\] {
    padding: 10px;
  }

  .desktop\:pr-\[300px\] {
    padding-right: 300px;
  }

  .desktop\:pt-\[0\] {
    padding-top: 0;
  }

  .desktop\:pt-\[100px\] {
    padding-top: 100px;
  }

  .desktop\:pt-\[130px\] {
    padding-top: 130px;
  }

  .desktop\:pt-\[175px\] {
    padding-top: 175px;
  }

  .desktop\:pt-\[30px\] {
    padding-top: 30px;
  }

  .desktop\:pt-\[50px\] {
    padding-top: 50px;
  }

  .desktop\:pt-\[70px\] {
    padding-top: 70px;
  }

  .desktop\:text-right {
    text-align: right;
  }

  .desktop\:text-\[14px\] {
    font-size: 14px;
  }

  .desktop\:text-\[16px\] {
    font-size: 16px;
  }

  .desktop\:leading-8 {
    line-height: 2rem;
  }

  .desktop\:text-\[\#9F9F9F\] {
    --tw-text-opacity: 1;
    color: rgb(159 159 159 / var(--tw-text-opacity));
  }
}

